{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "bracketSpacing": false,
  "useTabs": false,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "endOfLine": "auto"
}
