@import "../styles/mixins";

.container {
  @include container();

  .list {
    @apply grid mobile:grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 desktop:grid-cols-4 gap-x-8 gap-y-6;
  }

  .nav {
    background-color: #ded2d2;
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    background-color: #acb48b;
  }
}
